/* COVER */

.wp-block-cover.alignwide {
    margin-block: var(--wp--preset--spacing--flyhigh-s);
}



/* BUTTONS */

.flyhigh-buttons-compact :where(.wp-block-button .wp-block-button__link) {
    padding: var(--wp--preset--spacing--flyhigh-xxs);
}



/* GROUP */

.wp-block-group {
    display: flow-root;
}

.wp-block-group.is-layout-grid.alignfull {
    gap: 0;
}



/* PARAGRAPH */

p:first-child {
    margin-top: 0;
}