header.wp-block-template-part {
    --flyhigh--transition--header: .5s;
    position: fixed;
    top: var(--wp-admin--admin-bar--height, 0px);

    width: 100%;

    transition: top var(--flyhigh--transition--header);
    
    z-index: 100;
}

.has-modal-open header.wp-block-template-part {
    top: -50%;

    transition: top var(--flyhigh--transition--header) var(--flyhigh--transition--header);
}

header.wp-block-template-part>.wp-block-group>.wp-block-group {
    box-shadow: 0px 1.5px 3px #0007;

    transition: all calc(.5 * var(--flyhigh--transition--header));
}

header:not(.flyhigh-header-default)>.wp-block-group>.wp-block-group {
    max-width: min(100%, calc(var(--wp--style--global--content-size) + 2 * var(--wp--preset--spacing--flyhigh-xl)));

    background-color: transparent !important;
    box-shadow: unset !important;
    color: var(--wp--preset--color--white);
    text-shadow: 0px 0px .5em #000a;
}

header:not(.flyhigh-header-default) .wp-block-navigation__responsive-container-open:hover {
    color: inherit;
}

.wp-block-template-part:not(.flyhigh-header-default) .wp-block-navigation__responsive-container {
    transition: color 0s var(--flyhigh--transition--header), transform var(--flyhigh--transition--header) !important;
}

.wp-block-template-part:not(.flyhigh-header-default) .wp-block-navigation__responsive-container.is-menu-open {
    transition: transform var(--flyhigh--transition--header) !important;
}

header:not(.flyhigh-header-default) .wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container {
    background-color: unset;
}

:where(.wp-block-navigation:not(.is-responsive)>.wp-block-navigation-item)::before,
:where(.wp-block-navigation:not(.is-responsive)>.wp-block-navigation-submenu)::before {
    transition: background-color .25s, top calc(.25 * var(--flyhigh--transition--header)), width .25s !important;
}

header:not(.flyhigh-header-default) :where(.wp-block-navigation:not(.is-responsive)>.wp-block-navigation-item)::before,
header:not(.flyhigh-header-default) :where(.wp-block-navigation:not(.is-responsive)>.wp-block-navigation-submenu)::before {
    top: calc(.5 * var(--wp--preset--spacing--flyhigh-xxs));

    border-radius: calc(.5 * var(--wp--preset--spacing--flyhigh-xxs));

    background-color: currentColor !important;
}

.wp-block-navigation:not(.is-responsive) .wp-block-navigation__submenu-container {
    transition:
        background-color calc(.5 * var(--flyhigh--transition--header)) calc(.5 * var(--flyhigh--transition--header)),
        box-shadow calc(.5 * var(--flyhigh--transition--header)) calc(.5 * var(--flyhigh--transition--header)),
        color calc(.5 * var(--flyhigh--transition--header)) calc(.5 * var(--flyhigh--transition--header)),
        top calc(.5 * var(--flyhigh--transition--header));
}

header:not(.flyhigh-header-default) .wp-block-navigation:not(.is-responsive) .wp-block-navigation__submenu-container {
    top: calc(100% - var(--wp--preset--spacing--flyhigh-xxs)) !important;

    box-shadow: unset;

    transition:
        background-color calc(.5 * var(--flyhigh--transition--header)),
        box-shadow calc(.5 * var(--flyhigh--transition--header)),
        color calc(.5 * var(--flyhigh--transition--header)),
        top calc(.5 * var(--flyhigh--transition--header)) calc(.5 * var(--flyhigh--transition--header));
}

header:not(.flyhigh-header-default) .wp-block-navigation:not(.is-responsive) .wp-block-navigation-item__content:hover,
header:not(.flyhigh-header-default) .wp-block-navigation:not(.is-responsive) .current-menu-item > .wp-block-navigation-item__content {
    color: inherit !important;
}

header:not(.flyhigh-header-default) :where(.wp-block-navigation:not(.is-responsive) > .wp-block-navigation-submenu:hover > .wp-block-navigation-item__content),
header:not(.flyhigh-header-default) :where(.wp-block-navigation:not(.is-responsive) > .wp-block-navigation-submenu:hover > .wp-block-navigation-item__content + .wp-block-navigation-submenu__toggle) {
    color: inherit !important;
}