header.wp-block-template-part {
    --flyhigh--transition--header: .5s;
    position: fixed;
    top: var(--wp-admin--admin-bar--height, 0px);

    width: 100%;

    transition: top var(--flyhigh--transition--header);
    
    z-index: 100;
}

.has-modal-open header.wp-block-template-part {
    top: -50%;

    transition: top var(--flyhigh--transition--header) var(--flyhigh--transition--header);
}

header.wp-block-template-part>.wp-block-group>.wp-block-group {
    box-shadow: 0px 1.5px 3px #0007;

    transition: all calc(.5 * var(--flyhigh--transition--header));
}

header:not(.flyhigh-header-default)>.wp-block-group>.wp-block-group {
    max-width: min(100%, calc(var(--wp--style--global--content-size) + 2 * var(--wp--preset--spacing--flyhigh-xl)));

    background-color: transparent !important;
    box-shadow: unset !important;
    color: var(--wp--preset--color--white);
    text-shadow: 0px 0px .5em #000a;
}

.wp-block-navigation.is-responsive.has-flyhigh-small-font-size,
.wp-block-navigation.is-responsive.has-flyhigh-medium-font-size,
.wp-block-navigation.is-responsive.has-flyhigh-large-font-size,
.wp-block-navigation.is-responsive.has-flyhigh-x-large-font-size {
    font-size: inherit !important;
}

.wp-block-navigation.is-responsive.has-flyhigh-small-font-size .wp-block-navigation__responsive-container-content {
    font-size: var(--wp--preset--font-size--small) !important;
}

.wp-block-navigation.is-responsive.has-flyhigh-medium-font-size .wp-block-navigation__responsive-container-content {
    font-size: var(--wp--preset--font-size--medium) !important;
}

.wp-block-navigation.is-responsive.has-flyhigh-large-font-size .wp-block-navigation__responsive-container-content {
    font-size: var(--wp--preset--font-size--large) !important;
}

.wp-block-navigation.is-responsive.has-flyhigh-x-large-font-size .wp-block-navigation__responsive-container-content {
    font-size: var(--wp--preset--font-size--x-large) !important;
}

.wp-block-navigation__responsive-container-open,
.wp-block-navigation__responsive-container-close {
    height: calc(1em + 2 * var(--wp--preset--spacing--flyhigh-s));

    aspect-ratio: 1;
}

header:not(.flyhigh-header-default) .wp-block-navigation__responsive-container-open:hover {
    color: inherit;
}

.wp-block-navigation__responsive-container-close {
    position: static;
}

.wp-block-navigation__responsive-container-open svg,
.wp-block-navigation__responsive-container-close svg {
    box-sizing: border-box;
    height: 100%;
    width: auto;

    padding: var(--wp--preset--spacing--flyhigh-xxs);
}

.wp-block-navigation__responsive-container-close svg {
    padding-inline: 0 calc(2 * var(--wp--preset--spacing--flyhigh-xxs));
}

.wp-block-navigation:not(.has-text-color) .wp-block-navigation__responsive-container:not(.has-text-color) {
    color: inherit !important;
}

.wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container:not(.has-background) {
    background-color: #fff !important;
}

.wp-block-navigation__responsive-container {
    display: flex;
    flex-direction: column;
    
    top: var(--wp-admin--admin-bar--height, 0px);
    left: unset;
    right: 0;
    max-width: 100%;
    min-width: 25vw;

    padding: var(--wp--preset--spacing--flyhigh-s) var(--wp--preset--spacing--flyhigh-l) var(--wp--preset--spacing--flyhigh-m) !important;

    transform: translateX(100%);

    text-shadow: none;

    animation: none !important;
    transition: transform var(--flyhigh--transition--header) !important;

    z-index: -1;
}

.wp-block-navigation__responsive-container.is-menu-open {
    transform: translateX(0%);
}

.wp-block-template-part:not(.flyhigh-header-default) .wp-block-navigation__responsive-container {
    transition: color 0s var(--flyhigh--transition--header), transform var(--flyhigh--transition--header) !important;
}

.wp-block-template-part:not(.flyhigh-header-default) .wp-block-navigation__responsive-container.is-menu-open {
    transition: transform var(--flyhigh--transition--header) !important;
}

.wp-block-navigation__responsive-dialog {
    margin: 0 !important;
}

.wp-block-navigation__responsive-container-content {
    padding-top: var(--wp--preset--spacing--flyhigh-m) !important;
}

.wp-block-navigation__responsive-container-content,
.wp-block-navigation__responsive-container-content .wp-block-navigation-item,
.wp-block-navigation__responsive-container-content .wp-block-navigation__container,
.wp-block-navigation__responsive-container-content .wp-block-page-list {
    align-items: var(--navigation-layout-justification-setting, inherit) !important;
    flex-direction: var(--navigation-layout-direction,initial) !important;
}

.wp-block-navigation__responsive-container .wp-block-pages-list__item__link {
    padding: var(--wp--preset--spacing--flyhigh-m) 0 !important;
}

.wp-block-navigation__responsive-container .wp-block-pages-list__item__link {
    padding: var(--wp--preset--spacing--flyhigh-m) 0 !important;
}

header:not(.flyhigh-header-default) .wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container {
    background-color: unset;
}

:where(.wp-block-navigation:not(.is-responsive)>.wp-block-navigation-item)::before,
:where(.wp-block-navigation:not(.is-responsive)>.wp-block-navigation-submenu)::before {
    transition: background-color .25s, top calc(.25 * var(--flyhigh--transition--header)), width .25s !important;
}

header:not(.flyhigh-header-default) :where(.wp-block-navigation:not(.is-responsive)>.wp-block-navigation-item)::before,
header:not(.flyhigh-header-default) :where(.wp-block-navigation:not(.is-responsive)>.wp-block-navigation-submenu)::before {
    top: calc(.5 * var(--wp--preset--spacing--flyhigh-xxs));

    border-radius: calc(.5 * var(--wp--preset--spacing--flyhigh-xxs));

    background-color: currentColor !important;
}

.wp-block-navigation:not(.is-responsive) .wp-block-navigation__submenu-container {
    transition:
        background-color calc(.5 * var(--flyhigh--transition--header)) calc(.5 * var(--flyhigh--transition--header)),
        box-shadow calc(.5 * var(--flyhigh--transition--header)) calc(.5 * var(--flyhigh--transition--header)),
        color calc(.5 * var(--flyhigh--transition--header)) calc(.5 * var(--flyhigh--transition--header)),
        top calc(.5 * var(--flyhigh--transition--header));
}

header:not(.flyhigh-header-default) .wp-block-navigation:not(.is-responsive) .wp-block-navigation__submenu-container {
    top: calc(100% - var(--wp--preset--spacing--flyhigh-xxs)) !important;

    box-shadow: unset;

    transition:
        background-color calc(.5 * var(--flyhigh--transition--header)),
        box-shadow calc(.5 * var(--flyhigh--transition--header)),
        color calc(.5 * var(--flyhigh--transition--header)),
        top calc(.5 * var(--flyhigh--transition--header)) calc(.5 * var(--flyhigh--transition--header));
}

header:not(.flyhigh-header-default) .wp-block-navigation:not(.is-responsive) .wp-block-navigation-item__content:hover,
header:not(.flyhigh-header-default) .wp-block-navigation:not(.is-responsive) .current-menu-item > .wp-block-navigation-item__content {
    color: inherit !important;
}

header:not(.flyhigh-header-default) :where(.wp-block-navigation:not(.is-responsive) > .wp-block-navigation-submenu:hover > .wp-block-navigation-item__content),
header:not(.flyhigh-header-default) :where(.wp-block-navigation:not(.is-responsive) > .wp-block-navigation-submenu:hover > .wp-block-navigation-item__content + .wp-block-navigation-submenu__toggle) {
    color: inherit !important;
}