.wp-block-navigation .wp-block-navigation-item {
    background-color: unset !important;
}

:where(.wp-block-navigation:not(.is-responsive) > .wp-block-navigation-item)::before {
    content: '';

    position: absolute;
    top: 0;
    left: 50%;

    align-self: center;

    height: calc(.5 * var(--wp--preset--spacing--flyhigh-xxs));
    width: 0;

    border-radius: 0 0 calc(.5 * var(--wp--preset--spacing--flyhigh-xxs)) calc(.5 * var(--wp--preset--spacing--flyhigh-xxs));

    background-color: var(--wp--preset--color--flyhigh-yellow);

    transform: translateX(-50%);
    
    transition: width .25s;
}

:where(.wp-block-navigation:not(.is-responsive) > .wp-block-navigation-item.current-menu-item)::before {
    width: var(--wp--preset--spacing--flyhigh-l);
}

:where(.wp-block-navigation:not(.is-responsive) > .wp-block-navigation-item):hover::before,
:where(.wp-block-navigation:not(.is-responsive) > .wp-block-navigation-item.current-menu-item):hover::before {
    width: var(--wp--preset--spacing--flyhigh-m);
}

.wp-block-navigation-item__content {
    padding-block: var(--wp--preset--spacing--flyhigh-s);

    transition: color .25s;
}

.wp-block-navigation-item__content:hover,
.current-menu-item > .wp-block-navigation-item__content {
    color: var(--wp--preset--color--flyhigh-yellow) !important;
}

.wp-block-navigation__responsive-container-content .wp-block-navigation-item {
    align-items: var(--navigation-layout-justification-setting, inherit) !important;
    flex-direction: var(--navigation-layout-direction,initial) !important;
}